/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

* {
    outline: 0 !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: #f2f2f2;
}

p {
    min-height: 20px;
}

blockquote {
    border-left: 3px solid #DE2C3B;
}

h2 {
    padding-bottom: 5px;
    margin-bottom: 15px;
}
    
sup {
    vertical-align: super;
}
 
sub {
    vertical-align: sub;
}

.main-color {
    color: #DE2C3B;
}
 
.navbar {
    font-weight: 400;
}

.navbar-default .navbar-brand {
    height: 65px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: #DE2C3B;
}

.editor-container {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
}

.button-list {
    position: fixed;
    top: 65px;
    overflow: hidden;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    padding: 0px;
    background-color: #f2f2f2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #DE2C3B;
}

.button-list > li {
    list-style: none;
    display: inline;
    padding: 5px 10px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
}


.button-list > li > a {
    color: #f2f2f2;
}

.button-list > li > a:hover {
    color: #222;
    text-decoration: none;
}
 
.editor {
    outline: 0 !important;
    padding: 15px 50px;
    border: 1px solid #eee;
    font-family: 'Roboto Slab';
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.editor blockquote,
.editor pre {
    margin: 40px 40px;
}

.editor a {
    color: #DE2C3B;
}

.editor hr {
    color: #DE2C3B;
    background-color: #DE2C3B;
    width: 50%;
    height: 3px;
    margin: 40px auto;
}

.editor figure {
    width: 80%;
    margin: 30px 10%;
}
 
.editor figure img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.editor figure figcaption {
    text-align: center;
    font-family: 'Lato';
    font-style: italic;
}

@media (min-width: 768px) {
    .editor-container {
        width: 750px;
    }
}
 
@media (min-width: 992px) {
    .editor-container {
        width: 800px;
    }
}
 
@media (min-width: 1200px) {
    .editor-container {
        width: 900px;
    }
}
